<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

	<p>Bem vindo {nome} ao Oficina Online. O seu registo como assistente telefónico ficará concluído após validar através do seguinte link</p>
	<p><a href="{validar_link}">{validar_link}</a></p>
	
	<p>Informação sobre si que adicionou com o registo</p>
	<p>Contact ID: <span style="text-decoration: underline;">{username}</span></p>
	<p>Chave de acesso Token:
		<hr size="1">
		{password}
		<hr size="1">
		Guarde este informação num local seguro e privado de modo que apenas você tenha acesso.
	</p>
	</br>
	<p>Redes Sociais
		<hr size="1">
		{RedesSociais}
		<hr size="1">
	</p>
	</br>
	</br>
	<p>Número de contacto telefónico</p>
	<hr size="1">
		<h2>{telefone}</h2>
	<hr size="1">
	</br>
	
</body>
</html>
